:root {
  --cell-size: 100px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.main-box {
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

.inner-box {
  height: var(--cell-size);
  width: var(--cell-size);
  border: 1px solid black;
}
.inner-box:nth-child(1),
.inner-box:nth-child(2),
.inner-box:nth-child(3) {
  border-top: none;
}
.inner-box:nth-child(3n + 1) {
  border-left: none;
}
.inner-box:nth-child(3n + 0) {
  border-right: none;
}
.inner-box:nth-child(7),
.inner-box:nth-child(8),
.inner-box:nth-child(9) {
  border-bottom: none;
}
